html, body {
  height: 100%;
  margin: 0;
}

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#buttonContainer {
  display: flex;
  gap: 10px;
}

h1{
  color: white;
  margin-right: 100px;   
}
p{
  color: white;
}

canvas {
  border: 1px solid white;
}
